<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>My Blog</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'post_list' %}">Home</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'post_new' %}">New Post</a></li>
                        <li>
                            <!-- <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form> -->
                        <a href="#" id="logout-link">Logout</a>
                    <form id="logout-form" method="POST" action="{% url 'logout' %}" style="display: none;">
                        {% csrf_token %}
                    </form></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>My Blog &copy; 2024</p>
    </footer>
    <script>
        document.getElementById('logout-link').addEventListener('click', function(event) {
            event.preventDefault();
            document.getElementById('logout-form').submit();
        });
    </script>
</body>
</html>
